* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

button:focus,
button:focus-visible,
button:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

a {
    text-decoration: none;
}

