.Header {
    width: 100%;
    height: var(--navbar-height);
    background: var(--bg-color);
    border-bottom: 1px solid rgba(var(--primary-color-rgb), 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 2rem;

  .HeaderItem {
    display: flex;

    .MenuItem {
      margin-right: 5px;
    }
  }
}
