.Header {
    width: 100%;
    height: var(--navbar-height);
    /* background: var(--inverted-bg-color); */
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

  .HeaderItem {
    display: flex;

    .MenuItem {
      margin-right: 5px;
    }
  }
}
