.Container {
  margin: 56px auto 0;
  display: flex;
  justify-content: center;
}

.Box {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.FooterRow {
  margin-top: 4px;
}

.Link {
  color: var(--secondary-color);
  text-decoration: underline;
}

