.TypingWindow {
  position: relative;
  display: flex;
  justify-content: center;
}

.Container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 180px;
  max-width: 700px;
  background: var(--bg-color);
  overflow: hidden;
  /* overflow-y: 'auto'; */
  border-style: none;
  outline: none;
}

.blured {
  filter: blur(4px);
}

.focusPopup {
  font-size: var(--font-size-l);
  filter: blur(0px);
  color: var(--secondary-color);
  justify-content: center;
  display: flex;
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 30%;
} 
