.Container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
/* TODO: remove it. just temporary  */
  height: 250px;
  width: 700px;
  /* justify-content: center; */
  /* align-items: center; */
  /* background: #415a77; */
  background: var(--bg-color);
  overflow: hidden;
  overflowY: 'auto';
}
