.slidingCursor {
  position: absolute;
  width: 2px;
  height: var(--font-size-xl);
  background: var(--secondary-color);
  z-index: 5;
  transition: all 0.15s ease-out;
  pointer-events: none;
}

.pulsing {
  animation: pulse 1.7s infinite linear;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
