.TypingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.StatsContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.ButtonsGroup {
  display: flex;
  margin-top: 30px;

  .Button {
    margin-right: 20px;
  }
}

