.keyOff {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(var(--primary-color-rgb), 0.15);
  padding: 5px;
  min-height: 40px;
  min-width: 40px;
  max-width: 50px;
  max-height: 50px;
}

.KeyboardContainer {
  display: flex;
  /* flex-direction: row; */
  max-width: 1000px;
  min-width: 600px;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  /* justify-content: center; */
  gap: 4px;
}

.centeredRow {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  background: var(--card-bg);
  color: var(--secondary-color);
  border: 1px solid rgba(var(--primary-color-rgb), 0.15);
  border-radius: 6px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}

.key.activeKey {
  background: var(--inverted-secondary-color);
  border-color: transparent;
  color: var(--inverted-primary-color);
}

.sm {
  width: 50px;
}

.md {
  width: 65px;
}

.lg {
  width: 80px;
}

.xl {
  width: 95px;
}

.xxl {
  width: 110px;
}

.xxxl {
  width: 460px;
}

.symbol {
  font-size: var(--font-size-m);
  line-height: 1;
  padding-top: 3px;
  color: inherit;
}


@media (max-width: 850px) {
  .KeyboardContainer {
    display: flex;
    /* flex-direction: row; */
    max-width: 600px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  
  .key {
    padding: 4px 6px;
    border-radius: 6px;
    width: 40px;
    height: 40px;
  }

  .sm {
    width: 40px;
  }

  .md {
    width: 55px;
  }

  .lg {
    width: 70px;
  }

  .xl {
    width: 85px;
  }

  .xxl {
    width: 100px;
  }

  .xxxl {
    width: 400px;
  }

  .symbol {
    font-size: var(--font-size-m);
    line-height: 1;
    padding-top: 3px
  }


}


@media (max-width: 620px) {
  .KeyboardContainer {
    display: flex;
    /* flex-direction: row; */
    max-width: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  
  .key {
    padding: 4px 6px;
    border-radius: 6px;
    width: 40px;
    height: 40px;
  }

  .sm {
    width: 25px;
  }

  .md {
    width: 35px;
  }

  .lg {
    width: 45px;
  }

  .xl {
    width: 50px;
  }

  .xxl {
    width: 60px;
  }

  .xxxl {
    width: 200px;
  }

  .symbol {
    font-size: var(--font-size-s);
    line-height: 1;
    padding-top: 3px
  }


}
