.key {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 5px;
  min-height: 40px;
  min-width: 40px;
  max-width: 50px;
  max-height: 50px;
    .symbol:first-child {
      /* color: red; */
  }
    .symbol:only-child {
     /* color: white;  */
  }
}


.KeyboardContainer {
  display: flex;
  flex-direction: row;
}

.activeKey {
  background: blue;
}

.symbol {

}
