.Container {
  padding: 2px;
  margin-bottom: 25px;
  font-size: var(--font-size-xl);
  color: var(--secondary-color);
  /* height: 20px;  */
}
  
.ActivePointer {
  border-bottom: 2px solid var(--secondary-color);
  animation-duration: 1.7s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

.TypedLetter{
  color: var(--primary-color);
}

.MistakenLetter {
  color: #f28482;
}

.CorrectedMistake {
  color: #84c5a8;
  // background-color: rgba(132, 197, 168, 0.2);
  border-radius: 3px;
}

@keyframes pulse {
  0% {
    border-bottom: 2px solid rgba(var(--secondary-color-rgb), 1);
  }
  25% {
    border-bottom: 2px solid rgba(var(--secondary-color-rgb), 0.6);
  }
  50% {
    border-bottom: 2px solid rgba(var(--secondary-color-rgb), 0.1);
  }
  75% {
    border-bottom: 2px solid rgba(var(--secondary-color-rgb), 0.6);
  }
  100% {
    border-bottom: 2px solid rgba(var(--secondary-color-rgb), 1);
  }
}
